  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 40px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    text-align: center;
    float: none;
  }
  .heading_div2
  {
    font-size: 18px ;
    text-align: center;
    float: none;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .result_para_tag span{
  
    white-space: pre-wrap;
  }
  .copy_right_footer{
    position: fixed;
    color: white;
    background-color: grey;
    bottom:0;
  }

  body{
    text-align: center;
  }
 
  canvas{

    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    margin-top: 190px;
  }